<div class="list-container">
  <div class="header-actions">
    <input 
    type="text" 
    class="search-input" 
    placeholder="Search by name..." 
    (input)="onSearch($event)"
  />
    <h2>Product Inventory</h2>
    <button (click)="goToAddProduct()" *ngIf="!hideAddButton" class="btn-add" >+ Add New Product</button>
  </div>

  <div class="loading-state" *ngIf="isLoading">
    <p>Loading products...</p>
  </div>

  <div class="empty-state" *ngIf="!isLoading && filteredProducts.length === 0">
  <p>No products found. Start by adding a new one!</p>
</div>

  <div class="table-responsive" *ngIf="!isLoading && filteredProducts.length > 0">
  <table class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name (EN)|(AR)</th>
          <th>Unit</th>
          <th>Size</th>
          <th>Actions</th>


        </tr>
      </thead>
      <tbody>
<tr *ngFor="let product of filteredProducts">          <td>#{{ product.id }}</td>
          <td>
            <ng-container *ngIf="product.images?.length > 0 && product.images[0]?.imageUrl; else noImage">
              <img [src]="path + product.images[0].imageUrl" alt="Product Image" class="product-img" />
            </ng-container>

            <ng-template #noImage>
              <span>No Image</span>
            </ng-template>
          </td>
          <td class="fw-bold">{{ product.nameEn }} | {{product.nameAr}}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.unitSize }}</td>
          <td class="action-buttons">
            <button class="btn-edit" (click)="onEdit(product.id)">
              <i class="icon-edit">✎</i> Edit
            </button>
            <!-- <button class="btn-delete" (click)="onDelete(product.id, product.nameEn)">
              <i class="icon-delete">🗑</i> Delete
            </button> -->


          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>